
/* Navbar */
.links {
  font-weight: 550;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #d4d4d4;
  position: relative;
}

.links:hover,
.links.active {
  color: #fff7a2;
}

.links:hover::after,
.links.active::after
{
  content: "";
  width: 100%;
  height: 2px;
  background: #fff8ac;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 4px;
}

.drawer-link.active::after,
.drawer-link:hover::after{
  width: 40%;
  left: -10px;
}

/* footer */
.footer{
  font-size: 1.1rem;
  color: #d4d4d4;
}
/* gallery */
/* video{ */
  /* max-height: 500px; */
/* } */
